.jumbotron {
  background-color: #d3dcdf;
  background-image: url(img/bg\ img-2.jpg);
  background-size: cover;
  padding: 160px 50px 145px 0;
}
#projects {
  background-color: #d3dcdf;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

section {
  padding-top: 2rem;
}

/* dark mode */
[data-theme="dark"] nav {
  background-color: #111 !important;
}
/* [data-theme="dark"] section .jumbotron text-start,h1,h3,p{
  color: #111 !important;
} */
[data-theme="dark"] {
  background-color: #111 !important;
  color: #eee;
}

[data-theme="dark"] .bg-black {
  background-color: #fff !important;
}

[data-theme="dark"] .bg-dark {
  background-color: #eee !important;
}

[data-theme="dark"] .bg-light {
  background-color: #222 !important;
}

[data-theme="dark"] .bg-white {
  background-color: #000 !important;
}
